{% extends "base.html" %}

{% block title %}
    {{ pelicula.titulo }}
{% endblock%}

{% block main_block %}

{% if pelicula %}
    <div id="film">

        <div id="visual">
            <figure>
                <img alt="{{pelicula.titulo}}"
                     class="film"
                     src = "{{ url_for('static', filename='img/'+pelicula.poster) }}">
            </figure>
            <figure>
                <a href="{{url_for ('aniadir_carrito', film=pelicula.titulo.replace(' ', '_'))}}">
                    <img alt="Añadir al carrito"
                         src="{{ url_for('static', filename='img/cart.png') }}"
                         width="300">
                </a>
            </figure>
        </div>

        <div id="info">
            <br/>
            <h2>{{ pelicula.titulo }}</h2>
            <p>
                <strong>- Sinopsis:</strong><br/><br/>{{pelicula.descripcion}}
                <br/><br/><strong>- Año de estreno:</strong> {{pelicula.año}}
                <br/><br/><strong>- Duracion:</strong> {{pelicula.duracion}}
                <br/><br/><strong>- Precio:</strong> {{pelicula.precio}} €
                <br/><br/><strong>- Pais:</strong> {{pelicula.pais}}
                <br/><br/><strong>- Musica:</strong> {{pelicula.musica}}
            </p>

        </div>
    </div>
{%else%}
    <strong>La pelicula buscada no existe</strong>
{%endif%}
{% endblock%}
