{% block title %}
    Términos de uso
{% endblock%}

{% extends "base.html" %}
{% block main_block %}

    <h1>Términos y condiciones de la Zona de prensa de Memo</h1>

    Estos términos y condiciones de la Zona de prensa de Memo (en adelante “Términos”) rigen tu uso de la Zona de prensa
    de Memo y de todos los recursos allí presentes, que incluyen, entre otros, materiales fotográficos y audiovisuales,
    marcas comerciales, logotipos, nombres comerciales, servicios registrados y nombres de servicios de Memo, así como
    cualesquiera otras características distintivas propiedad de Memo (en adelante “Recursos de Memo”), que estén
    disponibles a través de la Zona de prensa de Memo, o en otro sitio web de Memo, o procedentes de Memo en
    cualquier otro medio; y tú (en adelante “Tú”) aceptas estar supeditado a estos Términos. En caso de conflicto entre
    estos Términos y un acuerdo por escrito aplicable entre Tú y Memo, prevalecerá el acuerdo por escrito.

    <h1>Tus derechos de uso de los Recursos de Memo</h1>

    Memo te concede una licencia limitada, no exclusiva, revocable, intransferible y no sublicenciable para mostrar los
    Recursos de Memo conforme a estos Términos. Toda utilización que Tú hagas de los Recursos de Memo (incluido
    cualquier fondo de comercio relacionado con estos) redundará en beneficio de Memo. Tú aceptas no impugnar ni ayudar
    a otros a impugnar los Recursos de Memo, ni su registro ni la propiedad de Memo (excepto en la medida en que
    dicha restricción esté prohibida por la legislación aplicable) y te comprometes a no intentar registrar ningún Recurso
    de Memo ni otros nombres, logotipos, marcas o materiales (nombres de dominio incluidos) que se presten a confusión
    por su similitud (fonética, ortográfica, visual, etc.) con cualquier Recurso de Memo. Los Recursos de Memo se
    suministran "tal cual", y Memo renuncia a cualquier garantía, expresa o implícita, incluidas las garantías de no
    incumplimiento. En ningún caso Memo será responsable ante Ti por daños o perjuicios directos, indirectos, fortuitos,
    especiales, derivados, punitivos o ejemplares, ni por otros daños derivados de los Recursos de Memo o del uso que
    Tú hagas de ellos. Esta limitación se aplicará aunque Memo tuviera o debiera haber tenido conocimiento, o hubiera o
    debiera haber sido notificada, de la posibilidad de dichos daños o perjuicios. Algunas jurisdicciones no permiten
    ciertas exclusiones o limitaciones. En esas jurisdicciones, las exclusiones o limitaciones expuestas en estos Términos
    se aplicarán a Tu caso hasta el grado máximo que permita la ley. Ninguna de las disposiciones aquí estipuladas te
    otorgará ni implicará la concesión de derechos, títulos o intereses sobre los Recursos de Memo.

{%endblock%}